<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calvins.manfred"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ManfredTheme" >
        <activity
            android:name="com.calvins.manfred.HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.calvins.manfred.SavesScreenActivity" />
        <activity android:name="com.calvins.manfred.ManfredActivity" />
        <activity android:name="com.calvins.manfred.SettingsActivity" />
        <activity
            android:name="com.calvins.manfred.ActionsActivity"
            android:label="@string/title_activity_actions" >
        </activity>
    </application>

</manifest>
